<div>
  <h1>Imitable</h1>
  <div>
    <h2>Your Poems</h2>
    <% if @poems.present? %>
      <dl>
        <% @poems.each do |poem| %>
          <dt><%= poem.title %></dt>
          <dd><%= poem.status %></dd>
          <dd><%= poem.updated_at %></dd>
        <% end %>
      </dl>
    <% else %>
      <p><%= t(".no_poems") %></p>
    <% end %>
    <%= link_to t("poems.actions.new"), new_poem_path, class: "btn button" %>
    <h2>Your Submissions</h2>
    <% if @submissions.present? %>
      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Submission Title</th>
            <th>Submitted On</th>
            <th>Submitted To</th>
          </tr>
        </thead>
        <tbody>
          <% @submissions.each do |submission| %>
            <tr>
              <td>submission.status</td>
              <td>submission.title</td>
              <td>submission.submission_date</td>
              <td>submission.recipient</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= link_to t("submissions.actions.new"),
        new_submission_path,
        class: "btn button"
    %>
  </div>
  <div id="app"></div>
</div>
